<div class="user-items-index">
  <div class="user-item-group">
    <div class="user-info">
      <div class="img"><%= image_tag "https://i.gyazo.com/c022ae94fdfe4688247e7b2fdd5f283a.jpg" %></div>
      <div class="name">@takoyaki0316のお気に入り</div>
    </div>
    <% 2.times do %>
    <div class="each-row">
      <% 2.times do %>
      <%= link_to item_path(1) do %>
      <div class="user-item">
        <div class="img">
          <%= image_tag("https://images-fe.ssl-images-amazon.com/images/I/3194SNNR5XL._SY445_QL70_.jpg") %>
        </div>
        <div class="user-item-name">
          カルサーダ・クイネア クイネア・レセルバ 750ml
        </div>
      </div>
      <% end %>
      <%= link_to item_path(1) do %>
      <div class="user-item">
        <div class="img">
          <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/312xQCNFHcL.jpg") %>
        </div>
        <div class="user-item-name">
          カルサーダ・クイネア クイネア・レセルバ 750ml
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
