<div class="items-show">
  <div class="top">
    <div class="item-overview">
      <div>
        <div class="img">
          <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/312xQCNFHcL.jpg") %>
        </div>
        <div class="item-name">カルサーダ・クイネア クイネア・レセルバ 750ml</div>
        <div class="buttons">
          <%= link_to "みんなと乾杯する", items_path, class: "oblong-button main-color" %>
          <%= link_to "amazonで見る", items_path, class: "oblong-button amazon-color" %>
          <div class="eval">
            <%= link_to image_tag("favorite_red.png"), items_path, class: "circle-button main-color" %>
            <%= link_to image_tag("create_like_red.png"), items_path, class: "circle-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="content">
      <div class="all-reviews">
        <div class="title">みんなのレビュー</div>
        <% 3.times do %>
        <div class="review">
          <div class="user-info">
            <div class="img">
              <%= image_tag("https://i.gyazo.com/c022ae94fdfe4688247e7b2fdd5f283a.jpg") %>
            </div>
            <div class="name">
              @takoyaki0316
            </div>
          </div>
          <div class="body">
            hoge hoge hoge hoge hoge
          </div>
        </div>
        <% end %>
      </div>
      <div class="related-items">
        <div class="title">オススメのお酒</div>
        <% 3.times do %>
        <div class="item">
          <div class="img"><%= image_tag("https://images-fe.ssl-images-amazon.com/images/I/3194SNNR5XL._SY445_QL70_.jpg") %></div>
          <div class="name">hoge hoge hoge</div>
        </div>
        <% end %>
      </div>
      <div class="other-items">
        <div class="title">他のお酒</div>
        <div class="all-items">
          <% 7.times do %>
          <div class="item">
            <div class="img"><%= image_tag("https://images-fe.ssl-images-amazon.com/images/I/3194SNNR5XL._SY445_QL70_.jpg") %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
